html, body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: #76daff;
    color: #76daff;
    font-size: 1.1em;
}

.wrapper {
    padding: 50px;
}

.quotebox {
    border: 1px solid beige;
    border-radius: 6px;
    background-color: beige;
    padding: 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 70%;
}

#quote {
    padding: 20px;
    line-height: 1.3;
}

.social {
    height: 44px;
    width: 44px;
    background-color: #76daff;
    border: none;
    position: relative;
}

.social i {
    position: absolute;
    left: 15px;
    top: 13px;
}

.social:hover {
    background-color: rgb(162, 229, 253);
}

#quoteBtn {
    float: right;
    padding: 9px;
    border-radius: 6px;
    border: none;
    background-color: #76daff;
}

#quoteBtn:hover {
    background-color: rgb(162, 229, 253);
}